<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <connectionStrings>
    <add name="OrderRequestRespository"
         connectionString="data source=RWSSQLDEV2012;initial catalog=ApplicationProcess_Development;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework"
         providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>